<ion-header>
  <ion-toolbar>
    <ion-title>
      Aula 6
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <form (ngSubmit)="salvarUsuario()">
        <ion-item>
          <ion-label>Nome</ion-label>
          <ion-input type="text" [(ngModel)]="usuarioCadastro.nome" name="Nome"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Idade</ion-label>
          <ion-input [(ngModel)]="usuarioCadastro.idade" name="Idade" ></ion-input>
        </ion-item>
        <ion-button type="submit" color="primary">Salvar</ion-button>
    </form>

    <ion-list *ngFor="let usuario of usuarios">
      <ion-item>{{usuario.nome}} - {{usuario.idade}} <ion-button id="{{usuario.id}}" (click)="popularForm(usuario)" color="warning">editar</ion-button></ion-item>
    </ion-list>
</ion-content>
